# FastAPI base
fastapi>=0.111.0
uvicorn[standard]>=0.29.0

# Banco de Dados
sqlalchemy>=2.0.30
asyncpg>=0.29.0
pgvector>=0.2.5
psycopg2-binary>=2.9.0

# Para testes
aiosqlite>=0.17.0

# Validadores e Env
pydantic-settings>=2.2.1
pydantic>=2.0.0

# Segurança
bcrypt>=4.1.0
python-jose[cryptography]>=3.3.0
email-validator>=2.1.0

# Testes
pytest>=7.4.0
pytest-asyncio>=0.21.0
pytest-cov>=4.1.0
httpx>=0.24.0

# ── IA / RAG ─────────────────────────────────────────────────────────────────
langchain>=0.2.0
langchain-core>=0.2.0
langchain-groq>=0.1.4
langchain-huggingface>=0.0.3
sentence-transformers>=2.7.0

# ── Integrações ──────────────────────────────────────────────────────────────
firebase-admin>=6.5.0
